.flex-center {
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 25px;

  display: flex;
  align-items: center;

  p, a {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
  }
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  + label {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.search {
  width: 248px;
  height: 25px;
  padding-left: 10px;
  margin-left: auto;

  border: none;
  border-radius: 12.5px;

  background: #3C3B3D;

  &::placeholder {
    text-transform: uppercase;
    color: #757575;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 313px;
  margin: 0;
  padding: 0;
  margin-left: 90px;
}

.bg-banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.banner {
  margin-top: 200px;
  padding-bottom: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 31px;
  }

  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    width: 570px;
  
    input {
      min-width: 270px;
      min-height: 50px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border: solid 2px $dark-grey;
      border-radius: 3px;

      background: none;
      flex: 0 1 270px;
      &::placeholder {
        font-size: 14px;
        color: $white;
      }
    }

    button {
      min-width: 570px;
      min-height: 50px;
      padding: 20px 30px;
      border-radius: 5px;

      font-size: 13.3px;
      text-transform: uppercase;
      color: $white;
      background-color: $green;
      flex: 1 1 570px;
    }
  }
}

@media screen and (min-width: 1240px) {
  
}

@media (max-width: 414px) {
  .menu {
    display: block;
  }

  .nav {
    display: block;

    margin-left: 0;
    margin-top: 17px;

    li {
      line-height: 12.9px;
    }
  }

  .search {
    width: 100%;

    margin-top: 18px;
  }
  .logo {

  }
}
